@font-face {
  font-family: 'GeorgiaCustom';
  src: url('./georgia-2/georgia.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GeorgiaCustom';
  src: url('./georgia-2/georgiab.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GeorgiaCustom';
  src: url('./georgia-2/georgiai.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MontserratCustom';
  src: url('./montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratCustom';
  src: url('./montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
